@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/RobotoRegular.ttf') format('truetype') font-weight-normal,
       url('assets/fonts/RobotoBold.ttf') format('truetype') font-weight-bold,
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSansRegular.ttf') format('truetype') font-weight-normal,
       url('assets/fonts/OpenSansBold.ttf') format('truetype') font-weight-bold,
}

* {
  box-sizing: border-box;
}

html, body {
    font-size: 20px;
    font-family: OpenSans, Helvetica, Arial;
    color: #444;
    line-height: 1.05rem;
}



h1, h2, h3, h4, h5, h6 {
	color: #222;
  line-height: 1.25rem;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.4rem;
}

.l-flex {
    display: flex;
}

.l-flex--d-column {
  flex-direction: column;
}

.l-flex--wrap {
  flex-wrap: wrap;
}

.l-flex--j-between {
	justify-content: space-between;
}

.l-flex--j-center {
  justify-content: center;
}

.l-flex--j-around {
	justify-content: space-around;
}

.l-flex--a-center {
  align-items: center;
}

.l-flex-child {
  flex-basis: 400px;
}

.l-flex-child--half {
  width: 50%;
}

.w-100 {
	width: 100%;
}

.pd-1rem {
    padding: 1rem;
}

.pd-2rem {
    padding: 2rem;
}

.m-1rem {
  margin: 1rem;
}

.mt-p5rem {
  margin-top: .5rem;
}

.mt-1rem {
  margin-top: 1rem;
}

.mb-p5rem {
  margin-bottom: .5rem;
}

.mb-1rem {
	margin-bottom: 1rem;
}

.mb-2rem {
	margin-bottom: 2rem;
}

.ml-p5rem {
  margin-left: .5rem;
}

.ml-p25rem {
  margin-left: .25rem;
}

.mr-p5rem {
  margin-right: .5rem;
}

.mr-1rem {
  margin-right: 1rem;
}

.align-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  display: block;
}

.txt-center {
  text-align: center;
}